@font-face {
    font-family:"Web-Raleway";
    src: url('../fonts/Raleway-Regular.ttf');
    font-style:normal;font-weight:normal;
}

@font-face {
    font-family:"Web-Raleway-Bold";
    src: url('../fonts/Raleway-Bold.ttf');
    font-style:normal;font-weight:normal;
}

/* aseli  */
body{
    margin : 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #373737;
}
.clear{
    float: none;
    clear: both;
}

.center{
    width: 961px;
    margin: 0 auto;
}

/* header */
#header{
    padding: 20px 0;
}

#header #logo{
    float: left;
}

#header .navigation{
    float: right;
}

#header .navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#header .navigation ul li{
    display: inline-block;
    font-size: 18px;
    font-family: "Web-Raleway-Bold";
}
#header .navigation ul li a{
    display: inline-block;
    padding: 30px;
    text-transform: uppercase;
    color: #373737;
    text-decoration: none;
}
#header .navigation ul li a:hover{
    color: #007CEC;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* banner */

#banner{
    background: url("../images/bg.png") no-repeat center center;
    background-position: cover;
    -webkit-background-size: cover;
    padding: 100px;
    color: #ffffff;
    text-align: center;
}

#banner h1{
    font-size: 66px;
    font-family: "Josefin Sans";
    /*text-transform: uppercase;*/
    font-weight: normal;
    margin-bottom: 10px;
}

#banner h2{
    margin-top: 10px;
    font-size: 26px;
    font-family: "Web-Raleway";
    /*text-transform: uppercase;*/
    font-weight: normal;
    margin-bottom: 50px;
}

.btn-primary{
    border: solid 2px #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Web-Raleway;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.btn-primary:hover{
    background: #ffffff;
    color: #007CEC;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* services */

#services{
    padding: 25px 0;
    font-family: "Web-Raleway";
}

#services .title-content{
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    margin-bottom: 35px;
}

#services .title-content span{
    font-family: Web-Raleway-Bold;
}

.content-list .list-services{
    background: #007CEC;
    padding: 24px;
    float: left;
    width: 43%;
    color: #ffffff;
}

.content-list .list-services:last-child{
    float: right;
}

.content-list .list-services h2{
    font-family: "Josefin Sans";
    /*text-transform: uppercase;*/
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0;
}

.content-list .list-services .text{
    line-height: 25px;
    margin-bottom: 20px;
}

.content-list .list-services .button a{
    border: solid 2px #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Web-Raleway;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.content-list .list-services .button a:hover{
    background: white;
    color: #007CEC;
    -webkit-transition: 0.3s ;
    -moz-transition: 0.3s ;
    -ms-transition: 0.3s ;
    -o-transition: 0.3s ;
    transition: 0.3s ;
}

/* subscibe */

#notification{
    background: #d7d7d7;
    padding: 20px 0;
    margin-top: 30px;
}

#notification h2{
    font-family: "Josefin Sans";
    /*text-transform: uppercase;*/
    font-size: 30px;
    font-weight: bold;
}

#notification h3{
    font-size: 24px;
    font-family: "Josefin Sans";
    font-weight: 400;
}

#notification .left-content{
    float: left;
}

#notification .right-content{
    float: right;
    padding-top: 35px;
}

#notification .right-content .btn-large{
    display: inline-block;
    background: #007CEC;
    font-family: "Web-Raleway-Bold";
    font-size: 24px;
    padding: 15px 45px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

#notification .right-content .btn-large:hover{
    color: #007CEC;
    background: #ffffff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#footer{
    background: #373737;
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 16px;
}

/* Responsive */

@media screen and (max-width: 1095px) {

    .center{
        width: auto;
        padding: 0 20px;
        margin: 0;
    }
}

@media screen and (max-width: 826px){

    #notification .left-content,
    #notification .right-content{
        float: none;
        text-align: center;
    }
    #notification .right-content{
        padding-top: 10px;
    }

    .content-list .list-services{
        width: auto;
        display: block;
        float: none;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 721px) {

    #header .navigation,
    #header #logo{
        float: none;
        width: auto;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #header #logo img{
        margin: 0 auto;
        display: table;
    }
    #header .navigation ul{
        display: table;
        margin: 0 auto;
    }
    #banner h1{
        font-size: 40px;
    }
}
